.navbar {
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: max-height 0.3s ease;
}

.navItem {
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navItem:hover,
.navItem.active {
  color: #ff6347;
  transform: scale(1.1);
}

.navItem .underline {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #ff6347;
  transition: width 0.3s ease, left 0.3s ease;
}

.navItem.active .underline {
  width: 100%;
  left: 0;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.menuOpen {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #333;
}

@media (max-width: 780px) {
  .hamburger {
    display: block;
  }

  .navbar {
    height: 80px;
  }

  .navList {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
  }

  .navList.menuOpen {
    max-height: 300px;
  }
}
